    <!-- Tady je menu -->

    <header class="header">

        <div class="header__logo-position">
            <a class="header__link" href="/hu/#fooldal"><img class="header__logo" src="/images/kvarteto_logo.svg" alt="logo of Kvarteto"></a>
        </div>
    
        <div class="header__menu-position">
            <nav class="menu">
                <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
    
                <label for="menu-checkbox" class="menu__toggler">☰</label>
    
                <ul class="menu__list">
                    <li class="menu__item"><a class="menu__link" href="/hu/#fooldal">Főoldal</a></li>
                    <li class="menu__item"><a class="menu__link" href="/hu/#rolunk">Rólunk</a></li>
                    <li class="menu__item"><a class="menu__link" href="/hu/#alkotok">Alkotók</a></li>
                    <li class="menu__item"><a class="menu__link" href="/hu/#archivum">Archívum</a></li>
                    <li class="menu__item"><a class="menu__link" href="/hu/#partnerek">Kapcsolat</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Tady je konec menu -->