<div class="hero__position">
    <div class="hero__content">
        <div class="hero__h2-left">
            <div class="hero__header-h2">Aktuálna téma</div>
        </div>
        <div class="hero__header-h1">Cirkevné stavby</div>
        <div class="hero__date">7. 3. 2024 | RTVS: 2</div>
        <div class="hero__logo">
            <img class="hero__image-logo" src="/images/logo_DVOJKA_biele.svg" alt="logo of RTVS:2">
        </div>
    </div>
    <div class="hero__button-position">
        <nav class="button">
            <a class="button__link  button__link--icon" href="https://www.ceskatelevize.cz/porady/1098260856-kvarteto/424235100111001/">Prehrať najnovší diel</a>
            <div class="button-icon-size">
                <img class="button__icon" src="/images/play_icon_plna.svg" alt="play icon">
            </div>
        </nav>
    </div>
</div>